body {
    height: 100vh; /*vh(vertical height)*/
    margin: 20px;
    display: flex;
    justify-content: space-evenly;  /*주축 위에서 움직임*/
    align-items: stretch; /*교차축 위에서 움직임*/
}

div {
    width: 250px;
    height: 250px;
    background-color: cyan;
}

#second {
    background-color: brown;
}